extends layoutBasic

block left
    div(class="row mt-3 ms-5")
        div(class="fs-3")
            i(class="bi bi-house-door-fill")
            a(href="/dashboard" class="ms-4 fw-bold font-size-2 align-middle text-decoration-none text-dark") Startseite
    div(class="row mt-1 ms-5")
        div(class="fs-3")
            i(class="bi bi-people-fill")
            a(href="/profile" class="ms-4 align-middle text-decoration-none text-dark") Profil
    div(class="row mt-1 ms-5")
        div(class="fs-3")
            i(class="bi bi-person-fill")
            a(href="/users" class="ms-4 align-middle text-decoration-none text-dark") Nutzer
    div(class="row mt-2 ms-5")
        div(class="fs-3 d-grid")
            a(class="btn btn-primary rounded-pill" href="/other" role="button") Othern
    div(class="row mt-2 ms-5")
        div(class="fs-3 d-grid")
            a(class="btn btn-primary rounded-pill" href="/logout" role="button") Logout

block middle
    h1(class="mt-3 ms-5") Startseite
        div(class="list-group mt-3")
            each other in othersRows
                div(class="list-group-item ps-0")
                    div(class="container-fluid")
                        div(class="row")
                            div(class="col ps-4")
                                img(class="logoUser rounded-circle" src="/img/users/"+other.profile_pic+".png")
                            div(class="col-10 ps-0 pt-1")
                                p(class="fs-3 fw-bold") #{other.name}
                                    span(class="text-muted")  @#{other.name} &#8226 #{other.post_created}
                                p(class="fs-3") #{other.text}

block right
    div(class="border rounded-4 p-3 mt-4")
        h2 Trends für dich
        - var n = 0;
        each hashtag in trends
            - ++n
            div(class="fs-4")
                h4(class="mb-0") ##{hashtag.hashtag[0]}
                p #{hashtag.count} Other
                if (n === 5)
                    - break



